{% extends "layouts/layout.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Bereavement Service Design Prototypes
      </h1>

      {# [Version listings] (do not delete this comment it is used in automation) #}

      {# [design-changes-post-research-start] (do not delete this comment it is used in automation) #}
      <div class="app-most-recent govuk-!-padding-bottom-7">
        <div>
          <span class="govuk-tag govuk-tag--turquoise">Ready for testing</span>
        </div>
        <br/>
        <h2 class="govuk-heading-m">Design changes post-research</h2>
        <ul class="govuk-list govuk-list--bullet">
        </ul>
        <a href="design-changes-post-research/" class="govuk-button govuk-button--start">Start</a>
        <p class="govuk-body govuk-!-font-size-16">Date created - Mon Mar 25 2024</p>
      </div>
      {# [design-changes-post-research-end] (do not delete this comment it is used in automation) #}

      {# [married-or-civil-partnership-start] (do not delete this comment it is used in automation) #}
      <div class="app-most-recent govuk-!-padding-bottom-7">
        <div>
          <span class="govuk-tag govuk-tag--green">Tested</span>
          {# <span class="govuk-tag govuk-tag--blue">FROZEN</span> #}
        </div>
        <br/>
        <h2 class="govuk-heading-m">Scenario 1: Married or in a civil partnership</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>Start page</li>
          <li>Proof of concept eligibility questions</li>
          <li>Result pages for scenarios where process has or hasn't started, but claimants are not receiving benefits</li>
        </ul>
        <a href="married-or-civil-partnership/" class="govuk-button govuk-button--start">Start</a>
        <p class="govuk-body govuk-!-font-size-16">Date created - Mon March 04 2024</p>
      </div>
      {# [married-or-civil-partnership-end] (do not delete this comment it is used in automation) #}


      {# [living-together-start] (do not delete this comment it is used in automation) #}
      <div class="app-most-recent govuk-!-padding-bottom-7">
        <div>
          <span class="govuk-tag govuk-tag--green">Tested</span>
        </div>
        <br/>
        <h2 class="govuk-heading-m">Scenario 2: Living together</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>Start page</li>
          <li>Proof of concept eligibility questions</li>
          <li>Result pages for scenarios where process has or hasn't started, but claimants are not receiving benefits</li>
        </ul>
        <a href="living-together/" class="govuk-button govuk-button--start">Start</a>
        <p class="govuk-body govuk-!-font-size-16">Date created - Tue Mar 12 2024</p>
      </div>
      {# [living-together-end] (do not delete this comment it is used in automation) #}
    </div>
  </div>

{% endblock %}
