{% extends "layouts/layout.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Bereavement Service Design Prototypes
      </h1>

      {# [Version listings] (do not delete this comment it is used in automation) #}

      {# [living-together-start] (do not delete this comment it is used in automation) #}
      <div class="app-most-recent govuk-!-padding-bottom-7">
        <div>
          <span class="govuk-tag govuk-tag--turquoise">living-together</span>
        </div>
        <br/>
        <h2 class="govuk-heading-m">Sprint living-together iteration</h2>
        <ul class="govuk-list govuk-list--bullet">
        </ul>
        <a href="living-together/" class="govuk-button govuk-button--start">Start</a>
        <p class="govuk-body govuk-!-font-size-16">Date created - Tue Mar 12 2024</p>
      </div>
      {# [living-together-end] (do not delete this comment it is used in automation) #}

      {# [sprint-75-start] (do not delete this comment it is used in automation) #}
      <div class="app-most-recent govuk-!-padding-bottom-7">
        <div>
          <span class="govuk-tag govuk-tag--turquoise">For testing</span>
          <span class="govuk-tag govuk-tag--blue">FROZEN</span>
        </div>
        <br/>
        <h2 class="govuk-heading-m">Proof of Concept</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>Start page</li>
          <li>Proof of concept eligibility questions</li>
          <li>Result pages for scenarios where process has or hasn't started, but claimants are not receiving benefits</li>
        </ul>
        <a href="sprint-75/" class="govuk-button govuk-button--start">Start</a>
        <p class="govuk-body govuk-!-font-size-16">Date created - Mon March 04 2024</p>
      </div>
      {# [sprint-75-end] (do not delete this comment it is used in automation) #}

    </div>
  </div>

{% endblock %}
