
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "layouts/prototypeLayout.njk" %}

{% block form %}

  <h1 class="govuk-heading-l">About your partner</h1>
  <p class="govuk-body">We are now going to ask you some questions about your partner.</p>
  <p class="govuk-body">These will include:</p>
 
  <ul class="govuk-list govuk-list--bullet">
    <li>Age of your partner when they died</li>
    <li>Date of death</li>
    <li>Information about the funeral</li>
  </ul>

{% endblock %}

